canvas {
  border-style: solid;
  border-color: black;
}

#canvasContainer {
  display: inline-block;
}

#submitForm {
  display: inline-block;
  position: absolute;
  width: 40%;
  top: 50px;
  padding-left: 20%;
}

.person {
  display: inline-block;
  width: 20%;
}

.person img {
  width: 90%;
}
