body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

#c {
  width: 100vw;
  height: 100vh;
}

#myProgress {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  width: 90vw;
  height: 2px;
  background: white;
  z-index: 3;
}

#start {
  position: absolute;
  bottom: 4vh;
  left: 4vw;
  width: 1vw;
  height: 2vh;
  background: white;
  z-index: 3;
}

#progress {
  position: absolute;
  bottom: 4vh;
  right: 4vw;
  width: 2vw;
  height: 2vh;
  background: white;
  z-index: 3;
}

#myBar {
  position: relative;
  width: 1vw;
  height: 2vh;
  left: 10px;
  transform: translateY(-40%);
  background-color: white;
}

#introVideo {
  display: none;
}

#ending {
  display: none;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
