body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;

  /* background: #57c5f9;
  background: -moz-linear-gradient(top, #57c5f9 0%, #2467f2 100%);
  background: -webkit-linear-gradient(top, #57c5f9 0%, #2467f2 100%);
  background: linear-gradient(to bottom, #57c5f9 0%, #2467f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); IE6-9 */
}

#c {
  width: 100vw;
  height: 100vh;
}

#myProgress {
  position: absolute;
  top: 20px;
  width: 80vh;
  height: 2vh;
  border-style: solid;
  border-color: black;
  transform: rotate(-90deg) translate(-60%, 5000%);
  z-index: 3;
}

#myBar {
  width: 0%;
  height: 100%;
  background-color: white;
  /* transform: translate(45%, 0) rotate(0.25turn); */
}

#introVideo {
  display: none;
}

#ending {
  display: none;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
